/* ==UserStyle==
@name           Better UEF eLearn
@namespace      https://github.com/Orofil/better-uef-elearn
@author         Orofil
@version        2023.09111

@var checkbox   dark-mode   'Dark mode' 0

@var select     main-hue    'Select color hue rotation' {
    'Red						': '160deg',
    'Scarlet					': '170deg',
    'International Orange		': '180deg',
    'Dark Orange				': '190deg',
    'Orange						': '200deg',
    'Gold						': '210deg',
    'Yellow						': '220deg',
    'Electric Lime				': '230deg',
    'Spring Bud					': '240deg',
    'Chartreuse					': '250deg',
    'Bright Green				': '260deg',
    'Harlequin					': '270deg',
    'Lime						': '280deg',
    'Free Speech Green			': '290deg',
    'Malachite					': '300deg',
    'Spring Green				': '310deg',
    'Medium Spring Green		': '320deg',
    'Bright Turquoise			': '330deg',
    'Aqua						': '340deg',
    'Deep Sky Blue				': '350deg',
    'Dodger Blue				*': '0deg',
    'Navy Blue					': '10deg',
    'Light Blue					': '20deg',
    'Blue						': '30deg',
    'Dark Blue					': '40deg',
    'Grey purple				': '50deg',
    'Electric Indigo			': '60deg',
    'Indigo						': '70deg',
    'Electric Purple			': '80deg',
    'Psychedelic Purple			': '90deg',
    'Fuchsia					': '100deg',
    'Hot Magenta				': '110deg',
    'Hollywood Cerise			': '120deg',
    'Deep Pink					': '130deg',
    'Razzmatazz					': '140deg',
    'Torch Red					': '150deg',
}
==/UserStyle== */

@-moz-document domain("elearn.uef.fi") {
    :root {
        --base-hue: main-hue;
        --base-hue-deg: main-hue;
    }
    
    .navbar.fixed-top {
        box-shadow: 0 0 6px rgba(0,0,0,.03),0 2px 6px rgba(0,0,0,.09);
    }
    
    .drawer-right {
        background-color: #ddd;
    }
    
    .drawer-right .drawerheader .btn.drawertoggle {
        color: #000;
    }
    
    .drawer .courseindex .courseindex-item-content .courseindex-link, .drawer .courseindex .courseindex-item .fa-circle-thin {
        color: #b3b3b3;
    }
    
    .courseindex-item-content {
        font-size: 0.8rem;
    }
    
    .courseindex .courseindex-section .courseindex-sectioncontent .courseindex-item {
        padding: 0.3rem;
    }
    
    .bg-success {
        background-color: #5BC0D7 !important;
    }
    
    .btn-success {
        background-color: #268ca4;
        border-color: #1b6b7d;
    }
    
    .courseindex .courseindex-item .completioninfo.completion_complete {
        color: #348A9D;
    }
    
    .drawercontent {
        scrollbar-color: #999 #323232;
    }
}
    
@-moz-document url-prefix("https://elearn.uef.fi/mod/quiz/") {
    #page-header {
        padding-bottom: 10px;
    }
}